@using BankDataWebService.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Transaction Management";
    string email = ViewBag.ProfileEmail;
    List<Transaction> transactions = ViewBag.TransactionList;
    bool sortByAccount = ViewBag.SortByAcc;
    //int accNum = ViewBag.SortByAccNum;

    string encodeString(string rawString)
    {
        byte[] bytes = System.Text.Encoding.UTF8.GetBytes(rawString);
        string encodedString = Convert.ToBase64String(bytes);
        return encodedString;
    }
}

@if (email != null)
{
    <div>
        <h3> Transaction Management </h3>
    </div>
        <div class="table-transactions">
            <table>
                <thead>
                    <tr>
                        <th><strong>Transaction ID</strong></th>
                        <th><strong>Sender Account</strong></th>
                        <th><strong>Recieving Account</strong></th>
                        <th><strong>Amount</strong></th>
                        <th><strong>Description</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Transaction item in transactions)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.accountNumber</td>
                            <td>@item.toAccountNumber</td>
                            <td>RM @item.amount</td>
                            <td>@item.description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="select-sort">
            <form action="/sorttrans" method="post">
                <label for="sortBy">Sort By:</label>
                <input id="admin" type="hidden" name="adminemail" value=@email />
                <select id="sortBy" name="sorttype" >
                    <option value="id-ascending">ID (ascending)</option>
                    <option value="id-decending">ID (decending)</option>
                    <option value="fromacc-ascending">Sender Account No. (ascending)</option>
                    <option value="fromacc-decending">Sender Account No. (decending)</option>
                    <option value="acc-byacc">By Account Number</option>
                    <option value="toacc-ascending"> Reciever Account No. (ascending)</option>
                    <option value="toacc-decending"> Reciever Account No. (decending)</option>
                    <option value="amount-ascending"> Amount (ascending)</option>
                    <option value="amount-decending"> Amount (decending)</option>
                </select>
                <input id="blank" type="hidden" name="sortNum" value="empty" />
                <input type="submit" value="Submit">
            </form>
            @if (sortByAccount)
            {
                <form action="/sorttrans" method="post">
                    <input id="admin" type="hidden" name="adminemail" value=@email />
                    <input id="sortBy" type="hidden" name="sorttype" value="acc-byacc" />
                    <input id="accNo" type="text" name="sortNum" placeholder="Sort By Account" required />
                    <input type="submit" value="Filter By Account">
                </form>
            }
        </div>

    <style>
        .table-transactions {
            width: 50%;
            height: 90%;
            margin: auto;
            display: inline-block;
            float: left;
            overflow-x: auto;
        }

        .select-sort {
            display: inline-block;
            float: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
}
else
{
    <div>
        <p> Youre not supposed to be here... </p>
    </div>
}
